.left-half {
    height: 39rem;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url('green-plant.jpeg');
    background-position: center;
}

.header-div {
    font-size: xx-large;
    font-family: Odin, sans-serif;
    height: 3rem;
    width: 100%;
    background-color: rgba(63, 63, 63, 0.5);
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.odin-logo {
    height: 100%;
    object-fit: contain;
}

.credit-footer {
    color: aliceblue;
}

body {
    margin: 0;
    padding: 0;
}
/* external font:  */
@font-face {
    font-family: Odin;
    src: url(Norse-Bold.otf);
}